html,body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

main{
  flex: 1;
}




:root {
  --bs-primary: #b94866;
  --bs-primary-rgb: 185, 72, 102;


}
.logo-banner {
  background-color: #b94866; 
  padding: 0.5rem 1rem;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  display: inline-block;

  }

.btn-primary,
.bg-primary,
.border-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #a63d59;  
  --bs-btn-hover-border-color: #a63d59;
  --bs-bg-opacity: 1;
  --bs-border-opacity: 1;
}

.navbar .nav-link {
  transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #ffd6e3; 
}




.carousel-caption {
  
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}


.card-img-top {
  object-fit: cover;
  height: 230px;
}
 p{
  font-size: small;
 }
.me-1{
   width: 200px;  
   height: auto; 
   background-color: #b94866; 
  padding-left: 10px;
  
  display: inline-block;
  margin-left: -10px;
}

.input-group-text{
  background-color: beige;
}
